@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Inter Variable', sans-serif;
}

/** BlockNote Overrides  https://www.blocknotejs.org/docs/styling-theming/overriding-css**/
.bn-container[data-color-scheme] {

  --bn-colors-editor-background: #F4F4F5;
  --bn-colors-editor-text: #09090B;
  --bn-colors-menu-background: #FAFAFA;
  --bn-colors-tooltip-text: #09090B;
  --bn-colors-tooltip-background: #E4E4E7;
  --bn-colors-hovered-text: #09090B;
  --bn-colors-side-menu: #A1A1AA;
}

a {
  @apply text-zinc-700 underline underline-offset-2 decoration-zinc-400;

}