@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@theme {

  --color-editor: #f4f4f5;
}

body {
  font-family: "Inter Variable", sans-serif;
}

/** BlockNote Overrides  https://www.blocknotejs.org/docs/styling-theming/overriding-css**/
.bn-container[data-color-scheme] {
  --bn-colors-editor-background: #f4f4f5;
  --bn-colors-editor-text: #09090b;
  --bn-colors-menu-background: #fafafa;
  --bn-colors-tooltip-text: #09090b;
  --bn-colors-tooltip-background: #e4e4e7;
  --bn-colors-hovered-text: #09090b;
  --bn-colors-side-menu: #a1a1aa;
}

.bn-editor {
  padding-top: 16px;
  padding-bottom: 16px;
}

a {
  @apply text-zinc-700 underline underline-offset-2 decoration-zinc-400;
}
